body {
    font-family: Arial;
    margin: 0;
    background-color: #f2f2f2;
}
.entrada {
    background-color: #2196f3;
    padding: 10px 20px;
    display: flex;
    justify-content: flex-end; /* Deixa o botão à direita */
    align-items: center;
}

.entrada button {
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    width: 90px;
    transition: background-color 0.3s;
}

.entrada button:hover {
    background-color: #003355;
}

.navbar {
    background-color: #2196F3;
    padding: 10px;
}

.navbar button {
    margin: 5px;
    padding: 10px;
    color: white;
    background-color: #0b7dda;
    border: none;
    cursor: pointer;
    width: 100px;
}

.navbar button:hover {
    background-color: #064d7a;
}

.login-container{
    max-width: 500px;
    margin: 150px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
    align-items: center;
}

input {
    width: 50%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 10px;
}

button {
    padding: 10px 15px;
    margin-top: 10px;
    width: 50%;
    border-radius: 5px;
    color: rgb(13, 13, 14);
    background-color: #064d7a;
}

.error {
    color: red;
}

.card {
    background-color: white;
    padding: 10px;
    margin: 10px;
    border-radius: 10px;
    display: flex;
    align-items: center;
}

.card img {
    border-radius: 50%;
    margin-right: 10px;
}

.card-content {
    flex: 1;
}

.card button {
    background-color: red;
    color: white;
    border: none;
    padding: 5px 10px;
}

.section{
     width: 700px;
    margin: 50px auto;
    background: white;
    padding: 20px;
    border-radius: 10px;
}

.entrada {
    background-color: #2196F3;
    padding: 10px;
}
.entrada button{
    color: #f2f2f2;
    background-color: none;
    display: block;
    text-align: right;
    text-decoration: none;
}
.main-content{
    text-align: center;
}
img {
    display: block;
    margin: 30px auto; /* Centraliza horizontalmente */
    width: 400px; /* Largura do quadrado */
    height: 400px; /* Altura do quadrado */
    object-fit: cover; /* Garante que ela preencha o quadrado sem distorcer */
    border-radius: 20px; /* Arredonda os cantos (opcional) */
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.3); /* Sombra suave */
}


footer {
    background-color: #2196f3;
    color: white;
    padding: 20px 0;
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
}

.footer-content p {
    margin: 5px;
    font-size: 0.95em;
}

.footer-content a {
    color: white;
    text-decoration: underline;
}

.footer-content a:hover {
    color: #cce7ff;
}


